.seccionMenu {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.items {
    background-color: #f1a7eb;
    width: 100%;
    padding: 30px;
}

.items ul {
    margin: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    justify-content: center;
}

.items li:hover{
background-color: #f3d0dd;
}


.Juguetes,
.Concentrados,
.Snacks,
.Accesorios {
    border: 1px solid;
    padding: 20px 60px;
    text-align: center;
    background-color: #f497bb;
    margin: 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 800;
}

.video{
    background-color: black;
}
